<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      MySocial Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>This is Ionic</h1>

  <ion-button>
    An Ionic button
  </ion-button>

  <ion-card *ngFor="let item of postToShow">
    <img src="{{item.image}}" />
    <ion-card-content>From: {{item.from}}</ion-card-content>
    <ion-card-content>{{item.createdOn | date: 'MMM dd yyyy HH:mm'}}</ion-card-content>
    <ion-card-content>{{item.message}}</ion-card-content>
  </ion-card>

</ion-content>